Thesis_Comp/.idea/
notes.*
introduction.pdf
annotated_bibliography.pdf
outline.pdf
pres_1.pdf
Drafts/templatefig1.pdf
Presentation/slides.pdf

*.aux
*.log
*.synctex.gz
*.nav
*.out
*.snm
*.toc
*.bbl
*.blg
*#
*~
Thesis_Comp/.#metric.py
Thesis_Comp/.#rooks.py
Thesis_Comp/.#matrix.py

